html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
}

header {
  text-align: center;
}

nav li {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a {
  color: #005e76;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

.borders {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border: 2px solid #8bc9d9;
}

.btn:hover {
  background-color: #0084a6;
  color: #fff;
  border: 2px solid #0084a6;
}

.btn-ghost {
  background-color: #005e76;
  color: #fff;
}

a:hover {
  background-color: #0084a6;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  .nav li,
  .page-title {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  div .page-title {
    text-align: left;
  }

}

footer {
  color: #e2e2e2;
}
