@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

nav li {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a {
  color: #005e76;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border: 2px solid #8bc9d9;
}

.btn:hover {
  background-color: #0084a6;
  color: #e2e2e2;
  border: 2px solid #0084a6;
}

a:hover {
  background-color: #0084a6;
  color: #e2e2e2;
}

@media only screen and (min-width: 25em) {

  .nav li,
  .page-title {
    text-align: center;
  }

}
@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  div .page-title {
    text-align: left;
  }
}

footer {
  color: #e2e2e2;
}
